.wabtn {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00E785;
    color: #fff;
    padding: 20px 25px; /* Increased padding for a larger button */
    border-radius: 100px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 22px; /* Increased font size */
    font-weight: 600;
    z-index: 999999999 !important;
    animation: none;
  }
  
  .wabtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Make the link cover the whole button */
    height: 100%; /* Ensure the button fits within the size */
    text-decoration: none;
  }
  
  .wabtn svg {
    width: 60px; /* Larger icon size */
    height: 60px; /* Larger icon size */
    padding: 10px;
  }
  
  .wabtn .button-text {
    margin-left: 15px;
  }
  
  [wa-tooltip] {
    position: relative;
    cursor: default;
  }
  
  [wa-tooltip]:hover::before {
    content: attr(wa-tooltip);
    font-size: 16px;
    text-align: center;
    position: absolute;
    display: block;
    right: calc(0% - 100px);
    left: null;
    min-width: 200px;
    max-width: 200px;
    bottom: calc(100% + 10px);
    transform: translate(-50%);
    animation: fade-in 500ms ease;
    background: #00E785;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    z-index: 1;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
  